# Candace Savonen Apr 2021

name: Render Preview

# Controls when the action will run. Triggers the workflow on pull request to main branch
on:
  pull_request:
    branches: [ main ]

permissions: write-all

jobs:
  # This workflow contains a single job called "build-all"
  build-all:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: checkout
        uses: actions/checkout@v2

      # We want a fresh run of the renders each time
      - name: Delete old docs/*
        run: |
          rm -r docs/*

      # Set up git checkout
      - name: Set up git checkout
        run: |
          git checkout -b "preview-${{ github.event.pull_request.number }}"
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

      # Run bookdown rendering
      - name: Run bookdown render
        id: bookdown
        run: |
          docker run \
          --mount type=bind,target=/home/rstudio,source=$PWD \
          jhudsl/course_template \
          Rscript -e "bookdown::render_book('index.Rmd', output_format = 'all')"

##### If you do not wish to host your course on Coursera, you can delete this section #####
      # Run Coursera version
      - name: Run Coursera version of render
        id: coursera
        run: |
          docker run \
          --mount type=bind,target=/home/rstudio,source=$PWD \
          jhudsl/course_template \
          Rscript -e "leanbuild::render_coursera()"

##### End of Coursera rendering section ########################################

      # This checks on the steps before it and makes sure that they completed.
      # If the renders didn't complete we don't want to commit the file changes
      - name: Check on render steps
        if: steps.bookdown.outcome != 'success' || steps.coursera.outcome != 'success'
        run: |
          echo Bookdown status ${{steps.bookdown.outcome}}
          echo Coursera status ${{steps.coursera.outcome}}
          exit 1

      # Commit the rendered bookdown files
      - name: Commit rendered bookdown files to development branch
        id: commit
        run: |
          changes=$(git diff --name-only `git log --format="%H" -n 1 origin/main` -- docs)

          if [[ -n $changes ]]; then
            echo ::set-output name=changes::$(echo 'changes')
            git add . --force
            git commit -m 'Render bookdown preview'
            git push --force origin "preview-${{ github.event.pull_request.number }}"
          else
            echo ::set-output name=changes::$(echo 'no_changes')
          fi

      - name: Find Comment
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: latest commit

      - name: Build components of the comment
        id: build-components
        run: |
          course_name=$(head -n 1 _bookdown.yml | cut -d'"' -f 2| tr " " "-")
          bookdown_link=$(echo "https://htmlpreview.github.io/?https://raw.githubusercontent.com/$GITHUB_REPOSITORY/preview-${{ github.event.pull_request.number }}/docs/index.html")
          coursera_link=$(echo "https://htmlpreview.github.io/?https://raw.githubusercontent.com/$GITHUB_REPOSITORY/preview-${{ github.event.pull_request.number }}/docs/coursera/index.html")
          docx_link=$(echo "https://github.com/$GITHUB_REPOSITORY/raw/preview-${{ github.event.pull_request.number }}/docs/$course_name.docx")
          echo ::set-output name=bookdown_link::$bookdown_link
          echo ::set-output name=coursera_link::$coursera_link
          echo ::set-output name=docx_link::$docx_link
          echo ::set-output name=time::$(date +'%Y-%m-%d')
          echo ::set-output name=commit_id::$GITHUB_SHA
          echo ${{steps.commit.outputs.changes}}

      - name: Create or update comment
        if: steps.commit.outputs.changes == 'changes'
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Re-rendered previews from the latest commit:
            - See [preview of Bookdown here](${{ steps.build-components.outputs.bookdown_link }})
            - See [preview of Coursera version here](${{ steps.build-components.outputs.coursera_link }})
            - Download the [preview of .docx file](${{ steps.build-components.outputs.docx_link }})

            _Updated at ${{ steps.build-components.outputs.time }} with changes from ${{ steps.build-components.outputs.commit_id }}_
          edit-mode: replace

      - name: No comment if no changes
        if: steps.commit.outputs.changes == 'no_changes'
        uses: peter-evans/create-or-update-comment@v1
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            The latest commit did not produce rendering changes.

            _Updated at ${{ steps.build-components.outputs.time }} with changes from ${{ steps.build-components.outputs.commit_id }}_
          edit-mode: replace
