# Adapted from https://github.com/marketplace/actions/url-checker by Candace Savonen

# This github actions tests URLs in the Rmd files, README, and CONTRIBUTING.md
name: Check URLs

#---TRIGGER-START---#
on:
  workflow_dispatch:
  pull_request:
    branches: [ main, staging ]
#---TRIGGER-END----#

jobs:

  url-check:
    needs: yaml-check
    runs-on: ubuntu-latest

    steps:
    - name: checkout repo
      uses: actions/checkout@v2

    - name: Login as jhudsl-robot
      run: |
        git config --local user.email "itcrtrainingnetwork@gmail.com"
        git config --local user.name "jhudsl-robot"

    - name: URLs-checker
      uses: urlstechie/urlchecker-action@master
      with:
        # Delete the cloned repository after running URLchecked (default is false)
        cleanup: true

        # A comma-separated list of file types to cover in the URL checks
        file_types: .Rmd,.md

        # Choose whether to include file with no URLs in the prints.
        print_all: false

        # A comma separated links to exclude during URL checks
        exclude_urls: https://jhudatascience.org/{Course_Name}}

        # choose if the force pass or not
        force_pass : true
